In [40]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
from collections import deque

# parameters
product = "NQU5"
product_div = 100
vote_div    = 2
lookback    = 250
vote_count  = 3
votes       = deque(maxlen = lookback)

In [41]:
engine = create_engine(
    "postgresql+psycopg2://tickreader:tickreader@tsdb:5432/cme",
    poolclass=NullPool,  # don't reuse connections — safe for scripts
    connect_args={"connect_timeout": 5},
)

In [42]:
try:
    conn = psycopg2.connect(
        host="tsdb",
        database="cme",
        user="tickreader",
        password="tickreader"
    )
    print("Connection successful!")
    conn.close()
except Exception as e:
    print("Error:", e)

Connection successful!

In [43]:
# conn = psycopg2.connect(
#         host="tsdb",
#         database="cme",
#         user="tickreader",
#         password="tickreader"
#     )

query = f"""
    SELECT wh_name, t_price, sending_time
    FROM nq_fut_trades_weekly
    WHERE wh_name = %s
    ORDER BY sending_time DESC
    LIMIT 500_000
"""

try:
    with engine.connect() as conn:
        df = pd.read_sql(query, conn, params=(product,))
except Exception as e:
    print("Error:", e)
finally:
    engine.dispose()

In [44]:
df.drop(columns = ['wh_name'], inplace = True)
df.head()

     t_price                         sending_time
0  2264450.0  2025-07-01 11:04:42.167344995 -0500
1  2264450.0  2025-07-01 11:04:41.770888600 -0500
2  2264425.0  2025-07-01 11:04:41.769722554 -0500
3  2264375.0  2025-07-01 11:04:41.674818194 -0500
4  2264350.0  2025-07-01 11:04:41.524337194 -0500

In [45]:
df['sending_time'] = pd.to_datetime(df['sending_time'])
df.index = df['sending_time']
df = df.sort_index()

In [46]:
df

,t_price,sending_time
sending_time,,
2025-06-27 08:31:15.333855210-05:00,2272425.0,2025-06-27 08:31:15.333855210-05:00
2025-06-27 08:31:15.334057894-05:00,2272425.0,2025-06-27 08:31:15.334057894-05:00
2025-06-27 08:31:15.334745209-05:00,2272400.0,2025-06-27 08:31:15.334745209-05:00
2025-06-27 08:31:15.366374024-05:00,2272325.0,2025-06-27 08:31:15.366374024-05:00
2025-06-27 08:31:15.366936417-05:00,2272375.0,2025-06-27 08:31:15.366936417-05:00
...,...,...
2025-07-01 11:04:41.524337194-05:00,2264350.0,2025-07-01 11:04:41.524337194-05:00
2025-07-01 11:04:41.674818194-05:00,2264375.0,2025-07-01 11:04:41.674818194-05:00
2025-07-01 11:04:41.769722554-05:00,2264425.0,2025-07-01 11:04:41.769722554-05:00
2025-07-01 11:04:41.770888600-05:00,2264450.0,2025-07-01 11:04:41.770888600-05:00
2025-07-01 11:04:42.167344995-05:00,2264450.0,2025-07-01 11:04:42.167344995-05:00

In [47]:
times = df.index.time

# Keep only rows where time is between 8:30 and 17:00
mask = (times >= pd.to_datetime("08:30").time()) & (times < pd.to_datetime("17:00").time())

# Apply the mask
df = df[mask].copy()

In [48]:

# Create a floored minute column
df['minute'] = df['sending_time'].dt.floor('min')

# Now group by the minute mark and get the first row after each minute
df = df.loc[df.groupby('minute')['sending_time'].idxmin()]

In [49]:

df = df.drop(columns = ['sending_time', 'minute'])

In [ ]:
df.tail()

In [ ]:
moves = df['t_price'].diff()/product_div

In [ ]:
def add_votes(move, q, vote_div):
        if not isinstance(move, (int,float)):
                print(f"Move given is not valid: {move}")
                return
        if np.isnan(move):
                print(f"Move given is NA: {move}")
                return

        to_add = int(move/vote_div)  
        if to_add > 0:
                for i in np.arange(to_add):
                        q.append(1) 
        elif to_add <0:
                for i in np.arange(abs(to_add)):
                        q.append(-1)

In [ ]:
for move in moves:
    add_votes(move, votes, vote_div)

In [ ]:
votes

In [ ]:
sum(votes)