In [1]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
from collections import deque
from datetime import time as datetimeTime
from datetime import datetime, timedelta

# parameters
product = "NQU5"
product_div = 100
vote_div    = 2
lookback    = 250
vote_count  = 3
votes       = deque(maxlen = lookback)

In [2]:
datetime.now().date()

datetime.date(2025, 7, 28)

In [2]:
engine = create_engine(
    "postgresql+psycopg2://tickreader:tickreader@tsdb:5432/cme",
    poolclass=NullPool,  # don't reuse connections — safe for scripts
    connect_args={"connect_timeout": 5},
)

In [3]:
try:
    conn = psycopg2.connect(
        host="tsdb",
        database="cme",
        user="tickreader",
        password="tickreader"
    )
    print("Connection successful!")
    conn.close()
except Exception as e:
    print("Error:", e)

Connection successful!

In [4]:
# conn = psycopg2.connect(
#         host="tsdb",
#         database="cme",
#         user="tickreader",
#         password="tickreader"
#     )

query = f"""
    SELECT wh_name, t_price, sending_time
    FROM nq_fut_trades_weekly
    WHERE wh_name = %s
    ORDER BY sending_time DESC
    LIMIT 500_000
"""

try:
    with engine.connect() as conn:
        df = pd.read_sql(query, conn, params=(product,))
except Exception as e:
    print("Error:", e)
finally:
    engine.dispose()

In [5]:
df.drop(columns = ['wh_name'], inplace = True)
df.head()

     t_price                         sending_time
0  2298350.0  2025-07-09 10:46:28.724705360 -0500
1  2298350.0  2025-07-09 10:46:28.466870823 -0500
2  2298350.0  2025-07-09 10:46:28.466832578 -0500
3  2298375.0  2025-07-09 10:46:27.133001726 -0500
4  2298400.0  2025-07-09 10:46:26.696847359 -0500

In [6]:
df['sending_time'] = pd.to_datetime(df['sending_time'])
df.index = df['sending_time']
df = df.sort_index()

In [7]:
df

,t_price,sending_time
sending_time,,
2025-07-07 11:28:13.010331633-05:00,2288225.0,2025-07-07 11:28:13.010331633-05:00
2025-07-07 11:28:13.011044229-05:00,2288175.0,2025-07-07 11:28:13.011044229-05:00
2025-07-07 11:28:13.019103933-05:00,2288100.0,2025-07-07 11:28:13.019103933-05:00
2025-07-07 11:28:13.036737275-05:00,2288150.0,2025-07-07 11:28:13.036737275-05:00
2025-07-07 11:28:13.038296239-05:00,2288100.0,2025-07-07 11:28:13.038296239-05:00
...,...,...
2025-07-09 10:46:26.696847359-05:00,2298400.0,2025-07-09 10:46:26.696847359-05:00
2025-07-09 10:46:27.133001726-05:00,2298375.0,2025-07-09 10:46:27.133001726-05:00
2025-07-09 10:46:28.466832578-05:00,2298350.0,2025-07-09 10:46:28.466832578-05:00
2025-07-09 10:46:28.466870823-05:00,2298350.0,2025-07-09 10:46:28.466870823-05:00
2025-07-09 10:46:28.724705360-05:00,2298350.0,2025-07-09 10:46:28.724705360-05:00

In [8]:
times = df.index.time

# Keep only rows where time is between 8:30 and 17:00
mask = (times >= pd.to_datetime("08:30").time()) & (times < pd.to_datetime("17:00").time())

# Apply the mask
df = df[mask].copy()

In [9]:

# Create a floored minute column
df['minute'] = df['sending_time'].dt.floor('min')

# Now group by the minute mark and get the first row after each minute
df = df.loc[df.groupby('minute')['sending_time'].idxmin()]

In [10]:

df = df.drop(columns = ['sending_time', 'minute'])

In [11]:
df.tail()

                                       t_price
sending_time
2025-07-09 10:42:00.010467624-05:00  2297800.0
2025-07-09 10:43:00.005364383-05:00  2298100.0
2025-07-09 10:44:00.072351834-05:00  2297775.0
2025-07-09 10:45:00.037292840-05:00  2298275.0
2025-07-09 10:46:00.060115706-05:00  2298000.0

In [12]:
moves = df['t_price'].diff()/product_div

In [17]:
time_diff = moves.index.to_series().diff()
moves[time_diff > pd.Timedelta(minutes=2)] = 0

In [13]:
def add_votes(move, q, vote_div):
        if not isinstance(move, (int,float)):
                print(f"Move given is not valid: {move}")
                return
        if np.isnan(move):
                print(f"Move given is NA: {move}")
                return

        to_add = int(move/vote_div)  
        if to_add > 0:
                for i in np.arange(to_add):
                        q.append(1) 
        elif to_add <0:
                for i in np.arange(abs(to_add)):
                        q.append(-1)

In [14]:
for move in moves:
    add_votes(move, votes, vote_div)

Move given is NA: nan

In [15]:
votes

deque([-1,
       -1,
       1,
       -1,
       1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       1,
       1,
       1,
       1,
       1,
       1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       1,
       -1,
       -1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       1,
       -1,
       -1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       1,
       1,
       1,
       1,
       1,
       1,
       -1,
       -1,
       1,
       1,
       1,
       1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       1,
       1,
       1,
       1,
       1,
       1,
       -1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       -1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       -1,
       -1,
       -1,
       -1,
       1,
       -1,
       -1,
       -1,
       -1,
       1,
       1,
       1,
       1,
       1,
       -1,
       1,
       1,
       -1],
      maxlen=250)

In [16]:
sum(votes)

-44