In [ ]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine
from collections import deque

# parameters
product = "NQU5"
product_div = 100
vote_div    = 2
lookback    = 250
vote_count  = 3
votes       = deque(maxlen = lookback)

In [14]:
engine = create_engine("postgresql+psycopg2://tickreader:tickreader@tsdb:5432/cme")

In [15]:
# try:
#     conn = psycopg2.connect(
#         host="tsdb",
#         database="cme",
#         user="tickreader",
#         password="tickreader"
#     )
#     print("Connection successful!")
#     conn.close()
# except Exception as e:
#     print("Error:", e)

In [ ]:
# conn = psycopg2.connect(
#         host="tsdb",
#         database="cme",
#         user="tickreader",
#         password="tickreader"
#     )

query = f"""
    SELECT wh_name, t_price, sending_time
    FROM nq_fut_trades_weekly
    WHERE wh_name = %s
    ORDER BY sending_time DESC
    LIMIT 500_000 
"""

df = pd.read_sql(query, engine, params = (product,))
df.drop(columns = ['wh_name'], inplace = True)
df.head()

     t_price                         sending_time
0  2287050.0  2025-06-30 15:58:43.568274841 -0500
1  2287000.0  2025-06-30 15:58:42.207052057 -0500
2  2287025.0  2025-06-30 15:58:40.698897886 -0500
3  2287050.0  2025-06-30 15:58:39.510180710 -0500
4  2287075.0  2025-06-30 15:58:39.303770758 -0500

In [17]:
df['sending_time'] = pd.to_datetime(df['sending_time'])
df.index = df['sending_time']
df = df.sort_index()

In [18]:
df

,t_price,sending_time
sending_time,,
2025-06-26 10:02:10.019500765-05:00,2258075.0,2025-06-26 10:02:10.019500765-05:00
2025-06-26 10:02:10.020225402-05:00,2258100.0,2025-06-26 10:02:10.020225402-05:00
2025-06-26 10:02:10.022619820-05:00,2258100.0,2025-06-26 10:02:10.022619820-05:00
2025-06-26 10:02:10.025136758-05:00,2258075.0,2025-06-26 10:02:10.025136758-05:00
2025-06-26 10:02:10.092660269-05:00,2258050.0,2025-06-26 10:02:10.092660269-05:00
...,...,...
2025-06-30 15:58:39.303770758-05:00,2287075.0,2025-06-30 15:58:39.303770758-05:00
2025-06-30 15:58:39.510180710-05:00,2287050.0,2025-06-30 15:58:39.510180710-05:00
2025-06-30 15:58:40.698897886-05:00,2287025.0,2025-06-30 15:58:40.698897886-05:00
2025-06-30 15:58:42.207052057-05:00,2287000.0,2025-06-30 15:58:42.207052057-05:00
2025-06-30 15:58:43.568274841-05:00,2287050.0,2025-06-30 15:58:43.568274841-05:00

In [19]:
# Compute time differences between consecutive rows
time_diffs = df.index.to_series().diff()

# Find where the time difference is greater than 55 minutes
gap_mask = time_diffs > pd.Timedelta(minutes=55)

# Get the most recent such gap
last_gap_index = gap_mask[gap_mask].index[-1] if gap_mask.any() else None

print("Last gap index:", last_gap_index)

Last gap index: 2025-06-29 17:00:00.078029210-05:00

In [20]:
df = df[df.index < pd.to_datetime(last_gap_index)].copy()

In [21]:

# Create a floored minute column
df['minute'] = df['sending_time'].dt.floor('min')

# Keep only rows where sending_time > minute mark (i.e., after the top of the minute)
mask = df['sending_time'] > df['minute']
df = df[mask]

# Now group by the minute mark and get the first row after each minute
df = df.loc[df.groupby('minute')['sending_time'].idxmax()]

In [22]:

df = df.drop(columns = ['sending_time', 'minute'])

In [23]:
df.tail()

                                       t_price
sending_time
2025-06-27 09:05:59.808117515-05:00  2279850.0
2025-06-27 09:06:59.610198082-05:00  2279825.0
2025-06-27 09:07:59.738465259-05:00  2279625.0
2025-06-27 09:08:59.916635923-05:00  2280600.0
2025-06-27 09:09:57.406594738-05:00  2281350.0

In [ ]:
moves = df['t_price'].diff()/product_div

In [44]:
def add_votes(move, q, vote_div):
        if not isinstance(move, (int,float)):
                print(f"Move given is not valid: {move}")
                return
        if np.isnan(move):
                print(f"Move given is NA: {move}")
                return

        to_add = int(move/vote_div)  
        if to_add > 0:
                for i in np.arange(to_add):
                        q.append(1) 
        elif to_add <0:
                for i in np.arange(abs(to_add)):
                        q.append(-1)

In [ ]:
for move in moves:
    add_votes(move, votes, vote_div)

Move given is NA: nan

In [48]:
votes

deque([1,
       1,
       -1,
       -1,
       -1,
       -1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       -1,
       1,
       1,
       1,
       1,
       1,
       1,
       -1,
       1,
       1,
       1,
       1,
       1,
       -1,
       1,
       1,
       1,
       1,
       -1,
       -1,
       1,
       -1,
       1,
       1,
       1,
       1,
       -1,
       -1,
       -1,
       1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       -1,
       -1,
       1,
       1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       1,
       1,
       -1,
       -1,
       -1,
       -1,
       1,
       1,
       1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       1,
       1,
       1,
       1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       1,
       -1,
       1,
       -1,
       1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       1,
       -1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       -1,
       -1,
       -1,
       1,
       1,
       -1,
       1,
       1,
       -1,
       -1,
       1,
       1,
       1,
       1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       1,
       1,
       1,
       -1,
       -1,
       -1,
       -1,
       -1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       -1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       -1,
       -1,
       -1,
       -1,
       1,
       1,
       1,
       1,
       -1,
       1,
       1,
       1,
       -1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       -1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       1,
       -1,
       1,
       1,
       1,
       1,
       1,
       -1,
       1,
       1,
       -1,
       1,
       1,
       1,
       1,
       1,
       1,
       1],
      maxlen=250)

In [49]:
sum(votes)

38